         header {
             height: 500px;
             margin: 0 auto;
             background-color: #19283f;
             padding-left: 30px;
             padding-right: 30px;
             padding-top: 20px;
         }

         .logo {
             width: 87px;
             height: 44px;
             float: left;
         }

         .navbar {
             float: right;
         }

         .first :nth-child(5) {
             border-right: 1px solid #00c6bf;
             height: 40px;
         }

         .first :nth-child(6) {
             padding-left: 24px;
         }

         .login {
             text-decoration: none;
             width: 110px;
             height: 40px;
             color: #ffc501;
             font-family: Roboto;
             font-size: 15px;
             font-weight: 500;
             line-height: 27px;
             border: none;
             border-radius: 10px;
             background: #ff3150;
             cursor: pointer;
             outline: none;
         }

         .menu_item {
             text-decoration: none;
             width: 57px;
             height: 11px;
             color: #a8b9c0;
             font-family: Roboto;
             font-size: 15px;
             font-weight: 400;
             line-height: 27px;
             text-align: left;
             position: relative;
         }

         .menu_item :hover {
             color: #ff3150;
         }

         .menu_item :last-child {
             width: 1px;
             height: 25px;
             background-color: #00c6bf;
         }

         li {
             display: inline;
             text-decoration: none;
             padding-right: 40px;
         }

         h1 {
             padding-top: 156px;
             clear: both;
             color: #f0f8fb;
             font-family: 'Roboto', sans-serif;
             font-size: 51px;
             font-weight: 300;
             line-height: 27px;
             text-align: center;
         }

         .info {
             padding-top: 8px;
             color: #a8b9c0;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 400;
             line-height: 27px;
             text-align: center;
         }

         .button {
             text-decoration: none;
             width: 190px;
             height: 45px;
             color: #ffc501;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 500;
             line-height: 27px;
             border: none;
             border-radius: 10px;
             background: #ff3150;
             cursor: pointer;
             outline: none;
         }

         .button_box {
             text-align: center;
             padding-top: 33px;
         }

         .services_1 {
             text-align: center;
         }

         .services_2 {
             clear: both;
             text-align: center;
             height: 996px;
             background-color: #eff7fa;
             padding-top: 20px;
             overflow: auto;
         }

         .services_3 {
             clear: both;
             text-align: center;
             background-color: #eff7fa;
             padding-top: 20px;
         }

         .composite {
             width: 78px;
             height: 58px;
             margin: 55px auto;
         }

         h2 {
             color: #1a2940;
             font-family: 'Roboto', sans-serif;
             font-size: 35px;
             font-weight: 500;
             line-height: 27px;
             text-align: center;
         }

         .under_text {
             color: #a8b9c0;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 400;
             line-height: 27px;
             padding-top: 10px;
             text-align: center;
             text-transform: uppercase;
         }

         .text_art {
             width: 299px;
             height: 73px;
             color: #a8b9c0;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 400;
             line-height: 30px;
             text-align: center;
         }

         .text {
             width: 570px;
             height: 47px;
             color: #a8b9c0;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 300;
             line-height: 27px;
             padding-top: 10px;
             text-align: center;
             margin: 0 auto;
         }

         h3 {
             color: #ffc501;
             font-family: 'Roboto', sans-serif;
             font-size: 20px;
             font-weight: 500;
             line-height: 27px;
             text-align: center;
             text-transform: uppercase;
         }

         .art {
             margin-left: 19%;
             margin-top: 5%;
             text-align: center;
         }

         .article_1 {
             float: left;
             width: 300px;
             height: 355px;
             padding-right: 10px;
         }

         .article_2 {
             float: left;
             width: 300px;
             height: 355px;
             padding-right: 10px;
         }

         .article_3 {
             float: left;
             width: 300px;
             height: 355px;
             padding-right: 10px;
         }

         .nav2 {
             text-align: center;
             margin-top: 50px;
         }

         .mask {
             width: 270px;
             height: 200px;
             background-color: #00c6bf;
             opacity: 0.8;
             margin: 30px 30px;
         }

         .about_us {
             height: 820px;
             margin: 0 auto;
             background-color: white;
             padding-left: 30px;
             padding-right: 30px;
             padding-top: 20px;
         }

         .retina {
             clear: both;
             margin-top: 60px;
             margin-left: 10%;
             margin-right: 10%;
         }

         .text_retina {
             margin-bottom: 70px;
             float: left;
             width: 376px;
             height: 137px;
             color: #a8b9c0;
             font-family: 'Roboto', sans-serif;
             font-size: 15px;
             font-weight: 300;
             vertical-align: middle;
             text-align: left;
             font-style: normal;
             letter-spacing: normal;
             line-height: normal;
         }

         .text_area_retina {
             padding-top: 20px;
         }

         .MacBook {
             float: right;
             padding-top: 60px;
         }

         .meet_the_team {
             clear: both;
             height: 712px;
             margin: 0 auto;
             background-color: #eff7fa;
             padding-left: 30px;
             padding-right: 30px;
             padding-top: 110px;
         }

         .meet_the_team_title {
             color: #ffc501;
             font-family: Roboto;
             font-size: 35px;
             font-weight: 500;
             font-style: normal;
             letter-spacing: normal;
             line-height: 27px;
             text-align: center;
         }

         .team {
             clear: both;
             padding-top: 60px;
             margin-left: 11%;
             text-align: center;
             overflow: auto;
         }

         .team_1 {
             float: left;
             margin-left: 30px;
             margin-top: 30px;
             width: 270px;
             height: 389px;
             background-color: #ffffff;
         }

         .clients {
             height: 190px;
             clear: both;
             margin-top: 50px;
             margin-left: 10%;
         }

         .clients_logo {
             float: left;
             margin-left: 90px;
         }